<%- include('partials/head') %>

    <div class="container">

        <div class="card my-3 shadow-sm">
            <div class="card-header">
                <h3 class="m-0">Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/create-question" method="post">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title"
                        placeholder="Como começar a estudar programação?" required autocomplete="none">

                    <br>

                    <label for="description">Descrição</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                        placeholder="Estou começando a estudar programação e gostaria de saber como começar." required
                        autocomplete="none"></textarea>

                    <br>

                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>