<nav class="navbar navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex w-100 justify-content-center" href="/">
            <h1>Perguntas e Respostas</h1>
        </a>
    </div>
</nav>